html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.home header {
    width: 100%;
    background: radial-gradient(circle, rgb(7, 65, 65), rgb(2, 22, 22));
    height: 30em; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home header .header-image, .header-text{
    width: 40%;
    height: 20em;
    background-color: aqua;
    margin: 5%;
}
.home header .header-image{
    width: 30%;
    height: 25em;
    background-color: aqua;
    margin: 2%;
}