<div class="footer-grid">
    <div>
        <h4>Contact</h4>
        <ul>
            {% if site.author.email %}
            <li>Email: <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {% endif %}
            {% if site.author.address %}
            <li>Address: {{ site.author.address }}</li>
            {% endif %}
            {% if site.author.phone %}
            <li>Number: {{ site.author.phone }}</li>
            {% endif %}
        </ul>
    </div>
    <div>
        <h4>Quick Links</h4>
        <ul>
              <li>
            <a href="{{ '/feed.xml' | relative_url }}" title="RSS Feed" class="footer-rss">
                <svg width="13" height="13" viewBox="0 0 24 24" fill="currentColor" style="vertical-align:-2px; margin-right:5px;"><path d="M6.18 15.64a2.18 2.18 0 0 1 2.18 2.18C8.36 19.01 7.38 20 6.18 20C4.98 20 4 19.01 4 17.82a2.18 2.18 0 0 1 2.18-2.18M4 4.44A15.56 15.56 0 0 1 19.56 20h-2.83A12.73 12.73 0 0 0 4 7.27V4.44m0 5.66a9.9 9.9 0 0 1 9.9 9.9h-2.83A7.07 7.07 0 0 0 4 12.93V10.1z"/></svg>RSS Feed
            </a>
        </li>
        <li><a href="{{ '/articles/' | relative_url }}">Articles</a></li>
        <li><a href="{{ '/papers/' | relative_url }}">Papers</a></li>
        <li><a href="{{ '/essays/' | relative_url }}">Essays</a></li>
        <li><a href="{{ '/softwares/' | relative_url }}">Projects & Softwares</a></li>
        <li><a href="https://www.theinstituteoflogic.com/members/kennidylguimaraes" target="_blank" rel="noopener noreferrer">TIOL Member</a></li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li><a href="mailto:{{ site.author.email }}">E-mail</a></li>
        </ul>
    </div>
</div>
<p>&copy; {{ 'now' | date: "%Y" }} {{ site.author.name }}. All rights reserved. (All essays and articles are licensed under CC BY-ND 4.0)</p>