<nav class="menu" aria-label="Navegação principal">
    <ul>
        <li><a href="{{ '/articles/' | relative_url }}">Articles</a></li>
        <li><a href="{{ '/papers/' | relative_url }}">Papers</a></li>
        <li><a href="{{ '/essays/' | relative_url }}">Essays</a></li>
        <li><a href="{{ '/softwares/' | relative_url }}">Projects & Softwares</a></li>
        <!--<li><a href="{{ '/#certificacoes' | relative_url }}">Certificações</a></li>-->
        <li><a href="https://www.theinstituteoflogic.com/members/kennidylguimaraes" target="_blank" rel="noopener noreferrer">TIOL Member</a></li>
        <li><a href="mailto:{{ site.author.email }}">E-mail</a></li>
    </ul>
</nav>
