<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-us' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} — {{ site.author.name }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% if page.layout == 'article' %}
    <!--<link rel="stylesheet" href="{{ '/assets/css/artigo.css' | relative_url }}">-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
    {% endif %}
</head>
<body>
    <div class="container">
        {{ content }}

        <footer>
            {% include footer.html %}
        </footer>
    </div>
    <script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$']],        /* Ativa $...$ para inline */
      displayMath: [['$$', '$$']],     /* Ativa $$...$$ para blocos */
      tags: 'none'
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  };
</script>
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>
